<nav class="navbar navbar-light" style="background-color:whitesmoke;" >
  <div class="container">
    <div class="row">
    <div class="col-xs-4 col-sm-3">
    
      
      <a class="navbar-brand" href="/">
        <img class="svg-fallback" src="..\assets\img\logo.jpg">
        <svg width="129px" height="33px" viewBox="0 0 129 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" shape-rendering="geometricPrecision">
           
        </svg> 
          
             </a>
           
          </div>
            
          </div>   
    <!-- Show this for logged out users -->
    <ul 
      class="nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users!-->
    <!-- <ul *appShowAuthed="true"
      class="nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/side-menu"
          routerLinkActive="active" >
          Home
        </a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul> -->

  </div>
</nav>
