
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The simplest way to calculate who owes what">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#212F54">
    <!-- pjax verison -->
    <meta http-equiv="x-pjax-version" content="1577793937">
    <!-- Facebook stuff -->
    <meta property="fb:admins" content="622905400">
    <meta property="og:url" content="https://kittysplit.com/en">
    <meta property="og:image" content="https://assets.kittysplit.com/images/howitworks4-dc9eea387623c3efb20bffebbacf464a.jpg?vsn=d" />
    <meta property="og:title" content="Kittysplit - Easy splitting of group expenses">
    <meta property="og:description" content="The simplest way to calculate who owes what">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Kittysplit">
    <meta name="apple-mobile-web-app-status-bar-style" content="#212F54">


    <title>Kittysplit - Easy splitting of group expenses</title>

    <script type="text/javascript">
      var root = document.documentElement;
      root.className += "js";
      var svgReady = document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Shape", "1.1");
      if (svgReady) {
        root.className += " svg";
      } else {
        root.className += " no-svg";
      }
    </script>

    <script src="https://kit.fontawesome.com/32449e1918.js"></script>

    <link rel="stylesheet" href="https://assets.kittysplit.com/css/app-42747af2ffa0d0c5cf1e314ec7a82dc1.css?vsn=d">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="https://assets.kittysplit.com/touch-icon-iphone-34a9c1868f8928fdb72c09e43d5c58bd.png?vsn=d">
    <link rel="apple-touch-icon" sizes="76x76" href="https://assets.kittysplit.com/touch-icon-ipad-f9ab10bd05267aa040c82bec87f91f9d.png?vsn=d">
    <link rel="apple-touch-icon" sizes="120x120" href="https://assets.kittysplit.com/touch-icon-iphone-retina-f1e2b67c8be5049acb91ce24f6ef043e.png?vsn=d">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.kittysplit.com/touch-icon-ipad-retina-533bf33be503a3bc5f6f8b9051b55c9f.png?vsn=d">
    <link rel="icon" sizes="160x160" href="https://assets.kittysplit.com/favicon-160x160-c511202cff5614ebeaa1cce1f79e8523.png?vsn=d">
    <link rel="icon" sizes="192x192" href="https://assets.kittysplit.com/favicon-192x192-0f038c952b7fe0607cdc357cc59f6229.png?vsn=d">


      <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js" data-apikey="ff04b03d640a81486720ceceeee84bc8"></script>


<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-35829275-1', {'cookieDomain': 'www.kittysplit.com'}, 'auto');
  ga('set', 'anonymizeIp', true);

  // custom dimensions
  ga('set', 'dimension1', '6_B'); // dimension1: split_test_group
  ga('set', 'dimension2', '');           // dimension2: kitty_type
  ga('set', 'dimension3', 'default');                            // dimension3: url_type

  // autotrack plugins config
  ga('require', 'eventTracker');
  ga('require', 'outboundLinkTracker');

  

  // set default page for GA
  ga('set', 'page', document.location.pathname);
</script>

  <script async src='https://www.google-analytics.com/analytics.js'></script>

  </head>


  <body class="home">
    <div class="content">

      
      <div id="pjax-container">

        <div class="section section-kitty-start">
          <div class="container text-center">
             <h1>Easy splitting of group expenses</h1>
             <h2>The simplest way to calculate who owes what</h2>
             <a  class="btn btn-lg btn-primary btn-start" routerLink="/login" routerLinkActive="active" >Start now</a>
          </div>
        </div>
 


        <div class="section section-kitty-description">
          <div class="container">
                <div class="previous-kitties text-center">
                </div>

            <div class="lp-content">
                   <div class="row kitty-example">
                     <div class="col-xs-6 kitty-example-text">
                       <h2>Smartly manage debts between friends</h2>
                       <p class="lead">Easy split is the easiest way to share bills with friends.just do registration,or login with email & password, totally free.</p>
                     </div>
                     <div class="col-xs-6 kitty-example-image">
                        <img src="https://assets.kittysplit.com/images/howitworks0-b03cab469a2bc9cd4a8d823390978ac3.jpg?vsn=d">
                     </div>
                    </div>
                     <div class="row kitty-example">
                        <div class="col-xs-6 kitty-example-text">
                           <h2>Here is an example</h2>
                           <p class="lead">Jack, Jane and John go on a skiing weekend together. Jack pays for the ski-hire; Jane pays the hotel; John pays for dinner.</p>
                        </div>
                         <div class="col-xs-6 kitty-example-image">
                           <img src="https://assets.kittysplit.com/images/howitworks1-5071e991bb2e1654739c4b02e69064f9.jpg?vsn=d">
                         </div>
                     </div>
                     <div class="row kitty-example">
                       <div class="col-xs-6 kitty-example-text">
                          <h2>Now who owes what?</h2>
                         <p class="lead">Jack creates a kitty on Easy split and adds his own expenses one at a time.</p>
                       </div>
          <div class="col-xs-6 kitty-example-image">
            <img src="https://assets.kittysplit.com/images/howitworks2-1c35ad3fd43b92659ffdad6a6537f1ba.jpg?vsn=d">
          </div>
        </div>
        <div class="row kitty-example">
          <div class="col-xs-6 kitty-example-text">
              <h2>Sharing the kitty</h2>
              <p class="lead">Once he&#39;s finished, Jack sends an email with a link to the . John and Jane can enter what they paid.</p>
          </div>
          <div class="col-xs-6 kitty-example-image">
            <img src="https://assets.kittysplit.com/images/howitworks3-492fbc2806252916b6d9eb4b44b4a487.jpg?vsn=d">
          </div>
        </div>
        <div class="row kitty-example">
          <div class="col-xs-6 kitty-example-text">
              <h2>Settling up</h2>
              <p class="lead">Everyone can then see how much they owe and to whom. They can settle up and get on with the fun things in life.</p>
          </div>
          <div class="col-xs-6 kitty-example-image">
            <img src="https://assets.kittysplit.com/images/howitworks4-dc9eea387623c3efb20bffebbacf464a.jpg?vsn=d">
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-xs-5 col-sm-4 col-md-3">
              <div>
                <button class="btn btn-primary" (click)="feedback()">Feedback</button>
               
              </div>
                
            </div>
            
          </div>
        </div>
    </div>

  </div>
</div>


      </div>
     
      
    </div>
   
  </body>
  </html>
  
    

    
 

     
    
   
 
  
      
   
  
